.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  background-color: #fff;
  height: 800px;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  position: relative;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0 0;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  margin: 28px 0 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
  background-size: contain;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

iframe {
  border: transparent;
}

.header__paragraph:last-of-type {
  margin-top: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__logo {
  position: absolute;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  position: absolute;
  right: 80px;
  top: 30px;
  list-style-type: none;
  margin-top: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  padding: 100px 80px 215px;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  margin-top: 0;
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  margin-top: 0;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
